$color-primary: #F2EADF;
$color-secondary: #C9BCA6;
$color-accent: #808CA6;
$color-accent-alt: #5A6273;

$color-gray: #DADADA;
$color-gray-light: #F4F4F4;
$color-gray-dark: #BABABA;

$color-black: #000;
$color-white: #fff;